@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, div, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

#symbole_burger {
  color: white;
  font-size: 5rem;
  text-decoration: none;
}

header {
  background-color: #565f5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  flex-basis: 7rem;
  margin: 0.5rem;
}
header .menu {
  background-color: greenyellow;
  padding-right: 3rem;
  display: flex;
  list-style-type: none;
}
header .menu a {
  display: block;
  padding: 0 50px;
  text-decoration: none;
  color: red;
}
header .menu a:hover {
  background-color: #e6e6e6;
}
@media screen and (max-width: 992px) {
  header .menu {
    background-color: #8568ec;
    margin-right: 3%;
  }
}
@media screen and (max-width: 662px) {
  header .menu {
    background-color: #e01e79;
  }
}

body {
  background-color: #F5F5F5;
}

footer {
  text-align: center;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: auto;
  padding: 0 1rem 1rem;
  max-width: 40rem;
}

.global {
  /* La page est centrée et limitée en largeur */
  max-width: 1200px;
  margin: auto;
  background-color: white;
  border: 1px solid gainsboro;
}

.container {
  font-family: "Roboto-Medium", Helvetica, Arial, sans-serif;
  text-align: center;
}
.container__accroche-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.container__produits {
  background-color: #e6e6e6;
}
.container__separation > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__presentation {
  padding: 1rem 0;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produit__texte {
  margin: 2rem auto;
  max-width: 50rem;
}
.produit__photo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.produit__photo > img {
  margin: 0 1rem 2rem;
}

.presentation__detail {
  margin: 1rem;
  max-width: 45rem;
  max-height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentation__detail > div {
  flex: initial;
  min-width: 20rem;
  max-width: 30rem;
}
.presentation__detail > img {
  margin: 2rem;
  flex: none;
  width: 15rem;
}
.presentation__video {
  margin: 1rem;
}

.article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.article article {
  width: 20rem;
  height: 25rem;
  margin: 1rem;
  border: 1px solid gainsboro;
}
.article__image {
  width: 100%;
  height: auto;
}
.article__titre {
  padding: 1rem 2rem;
}
.article__paragraphe {
  padding: 0 0.5rem;
}

.contact {
  padding: 1rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.contact__adresse {
  padding: 1rem;
}
.contact__plan {
  display: flex;
  padding: 1rem;
}
.contact__plan img {
  margin: auto;
}
.contact__numerique {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
.contact__numerique h2 {
  margin-top: auto;
  color: white;
}

.mention {
  min-height: 2rem;
  background-color: black;
  color: white;
}/*# sourceMappingURL=style.css.map */