@charset "utf-8";
@import "../sass/knacss/abstracts/variables-sass";

@font-face {
	font-family: "Roboto-Light";
  src: url('/elements/Roboto/Roboto-Light.ttf');
}
@font-face {
	font-family: "Roboto-Medium";
  src: url('/elements/Roboto/Roboto-Medium.ttf');
}

// html { font-size: 62.5%; }   // de base 1rem = 16pixels
* { box-sizing: border-box; }
body, div, ul {
  margin: 0; padding: 0;
}
img {
  display: block;   // les images ne seront plus disposées côte à côte -- éviter le liseré de 3px en bas --
}
#symbole_burger {
  color: white;
  font-size: 5rem;
  text-decoration: none;
}
body {
  background-color: #F5F5F5;
}
.global { /* La page est centrée et limitée en largeur */
  max-width: 1200px;
  margin: auto;
  background-color: white;
}
.container {
  font-family: "Roboto-Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: auto;
    padding: 2rem;
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: auto;
    padding: 0 1rem 1rem;
    max-width: 40rem;
  }
  &__header {
    background-color: rgb(86, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  &__accroche-photo {
    object-fit: cover;
    width: 100%;
  }
  &__produits {
    background-color: rgb(230, 230, 230);
    
  }
  &__separation {
    > img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__presentation {
    padding: 1rem 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.menu {
  &__logo {
    flex-basis: 7rem;   // flex initial => flex: 0 1 auto; (flex-shrink prioritaire sur flex-basis)
    margin: .5rem;
  }
  &__nav {
    width: 40rem;
    margin-right: 8%;
    flex: initial;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $medium) {
      background-color: rgb(133, 104, 236);
      margin-right: 3%;
    }
    @media screen and (max-width: $small) {
      background-color: rgb(224, 30, 121);
    }
  }
  &__link {
    color: white;
    text-decoration: none;
    &:hover {
      color: wheat;
      text-decoration: none;
    }
  }
}
.produit {
  &__texte {
    margin: 2rem auto;
    max-width: 50rem;
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    > img {
      margin: 0 1rem 2rem;
    }
  }
}
.presentation {
  &__detail {
    margin: 1rem;
    max-width: 45rem;
    max-height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      flex: initial;
      min-width: 20rem;
      max-width: 30rem;     
    }
    > img {
      margin: 2rem;
      flex: none;
      width: 15rem;      
    }
  }
  &__video {
    margin: 1rem;
  }
}
.article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  article {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    border: 1px solid gainsboro;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__titre {
    padding: 1rem 2rem;
  }
  &__paragraphe {
    padding: 0 .5rem;
  }
}
.contact {
  padding: 1rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  &__adresse {
    // background-color: blanchedalmond;
    padding: 1rem;
  }
  &__plan {
    // background-color: chocolate;
    display: flex;
    padding: 1rem;
    img {
      margin: auto;
    }
  }
  &__numerique {
    // background-color: coral;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    h2 {
      margin-top: auto;
      color: white;
    }
  }
}
.coordonnees {
  // background-color: crimson;
  &__postal {
    // background-color: darkgoldenrod;
  }
  &__telephonique {
    // background-color: darksalmon;
  }
}
.mention {
  min-height: 2rem;
  background-color: black;
  color:white;
}