h1 {
  color: red;
}
nav {
  height: 6rem;
  background-color: #5c5e66  ;
  border-bottom: 1px solid black;
  font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items {
  display: flex;
  margin-right: 5rem;
}
.item {
  margin: 0 2rem;
  vertical-align: middle;
  color: white;
}
.logo {
  height: 5rem;
  margin-left: 1rem;
}
.image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.presentation {

}
.presentation h1 {
  color: green;
}
.produits {
  background-color: #ABEBC6;
}
.separation1_photos {
  background-color: #FAD7A0;
}
.boulanger {
  background-color: #E6B0AA;
}
.articles {
  background-color: #ABEBC6;
}
.separation2_photos {
  background-color: #FAD7A0;
}

footer {
  background-color: #13d6f0;
}

.container {
  display: grid;
  grid-template-rows: 590px repeat(6, 450px);
}
@font-face {
	font-family: "Roboto-Regular";
  src: url('/Roboto/Roboto-Regular.ttf');
}
body {
  margin: 0;
	font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
}